@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary {
    color: #fff;
    background: #16a083;
}

.btn-primary:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

.showcase-area {
    height: 50vh;
    background: linear-gradient( rgba(240, 240, 240, 0.144), rgba(255, 255, 255, 0.336));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 1.5em;
}


/*COMMENTAIRE------------------------*/

#comment_back {
    background-color: #f0f0f0;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    /*   display: inline-block;
    background-color: #4CAF50;*/
}

.product-box {
    border: 2px solid #333;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    margin: 5% 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f7;
}

.product-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-box p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.product-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn_com {
    border: solid 10px;
    border-color: #f5f5f7;
    border-radius: 10px;
    color: #333;
    background-color: #f5f5f7;
    font-size: 22px;
    box-shadow: 15px 17px 10px rgba(0, 0, 0, 0.2);
    margin: 5%;
    width: max-content;
}


/* Styles pour les smartphones (largeur d'écran jusqu'à 768px) */

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        /* Ajustez la largeur pour les écrans plus petits */
    }
    .navbar {
        height: auto;
        /* Ajustez la hauteur en conséquence */
    }
    .navbar-container {
        flex-direction: column;
        /* Placez les éléments en colonne */
        align-items: center;
        /* Centrez les éléments */
    }
    .menu-items {
        order: 1;
        /* Changez l'ordre des éléments du menu */
        margin-top: 1rem;
        /* Ajoutez de l'espace en haut du menu */
        text-align: center;
        /* Centrez le texte du menu */
    }
    .menu-items li {
        margin-left: 0;
        /* Réinitialisez la marge gauche */
        margin-bottom: 1rem;
        /* Ajoutez de l'espace entre les éléments du menu */
    }
    .showcase-area {
        height: 40vh;
        /* Ajustez la hauteur de la zone de présentation pour les smartphones */
    }
    .showcase-container {
        font-size: 1.4rem;
        /* Ajustez la taille de la police dans la zone de présentation pour les smartphones */
    }
    .main-title {
        margin-top: 1em;
        /* Ajoutez de l'espace en haut du titre principal pour les smartphones */
    }
}